body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #6c5ce7, #a29bfe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-title {
    color: #6c5ce7;
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 5px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

#question-counter {
    font-weight: bold;
    color: #636e72;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.quiz-container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    width: 90%;
    max-width: 700px;
    text-align: center;
}

#team-scores {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.score-box {
    position: relative;
    padding: 20px 25px; /* Am mărit padding-ul */
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.4rem; /* Scorul mai mare */
    min-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.key-hint {
    font-size: 1.3rem; /* Mult mai mare */
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.3);
    padding: 5px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: 800; /* Scris foarte gros */
    color: white;
    letter-spacing: 1px;
}

.team-a { background-color: #0984e3; color: white; }
.team-b { background-color: #d63031; color: white; }

.voted-hidden { 
    opacity: 0.3; 
    filter: grayscale(100%);
    transform: scale(0.9);
}

#question-text {
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 25px;
    color: #2d3436;
    min-height: 80px;
}

.option-bar {
    background: #f1f2f6;
    padding: 15px;
    margin: 15px 0; /* Puțin mai mult spațiu între ele pentru bordura groasă */
    border-radius: 10px;
    border: none; /* Am scos border-ul clasic */
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.btn-correct { 
    background-color: #2ecc71 !important; 
    color: white; 
    border-color: #27ae60 !important; 
}
.btn-wrong { 
    background-color: #ff7675 !important; 
    color: white; 
}



.hidden { display: none; }

.retry-btn {
    padding: 10px 25px;
    font-size: 1rem;
    background: #6c5ce7;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}